In [4]:
# imports
import pandas as pd
import numpy as np
import xlrd as xl
import matplotlib.pyplot as plt
...

Ellipsis

In [6]:
#initialize main dataframe 
#df = pd.DataFrame()

#initialize a tester dataframe
tester = pd.read_excel(r"C:\Users\aniko\repo\auto-lab\data\tester.XLS", sheet_name="Sheet1")
tester

,Area Percent Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Data file:,NaN,NaN,NaN,NaN,NaN,C:\Chem32\1\Data\2022-03-10_t44_L1-15_triplica...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sample name:,NaN,NaN,NaN,NaN,NaN,A1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Description:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Sample amount:,NaN,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN,...,NaN,NaN,NaN,Sample type:,NaN,NaN,NaN,NaN,Sample,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Instrument:,NaN,NaN,NaN,NaN,NaN,LCMS 1,NaN,NaN,NaN,...,NaN,NaN,NaN,Location:,NaN,NaN,NaN,NaN,P1-A1,NaN
8,Injection date:,NaN,NaN,NaN,NaN,NaN,3/10/2022 9:36:10 AM,NaN,NaN,NaN,...,NaN,NaN,NaN,Injection:,NaN,NaN,NaN,NaN,1 of 1,NaN
9,Acq. method:,NaN,NaN,NaN,NaN,NaN,2021-12-14.MUC.J.M,NaN,NaN,NaN,...,NaN,NaN,NaN,Injection volume:,NaN,NaN,NaN,NaN,2.000,NaN
10,Analysis method:,NaN,NaN,NaN,NaN,NaN,2021-12-14.MUC.J.M,NaN,NaN,NaN,...,NaN,NaN,NaN,Acq. operator:,NaN,NaN,NaN,NaN,SYSTEM,NaN
11,Last changed:,NaN,NaN,NaN,NaN,NaN,3/10/2022 9:34:24 AM,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Signal:,NaN,"MSD1 TIC, MS File",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,RT [min],Type,NaN,Width [min],NaN,NaN,NaN,Area,NaN,NaN,...,NaN,Height,NaN,NaN,Peak Symmetry,NaN,NaN,NaN,NaN,Name
17,0.150,BBA,NaN,0.0880,NaN,NaN,NaN,1709251.3750,NaN,NaN,...,NaN,300407.0313,NaN,NaN,0.63424,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,Sum,NaN,NaN,NaN,1709251.3750,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Signal:,NaN,"MSD2 TIC, MS File",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,RT [min],Type,NaN,Width [min],NaN,NaN,NaN,Area,NaN,NaN,...,NaN,Height,NaN,NaN,Peak Symmetry,NaN,NaN,NaN,NaN,Name
21,0.149,BBA,NaN,0.0857,NaN,NaN,NaN,46094.8164,NaN,NaN,...,NaN,8393.1582,NaN,NaN,0.61030,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,Sum,NaN,NaN,NaN,46094.8164,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Signal:,NaN,"VWD1 A, Wavelength=257 nm",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,RT [min],Type,NaN,Width [min],NaN,NaN,NaN,Area,NaN,NaN,...,NaN,Height,NaN,NaN,Peak Symmetry,NaN,NaN,NaN,NaN,Name
25,0.082,BBA,NaN,0.0502,NaN,NaN,NaN,901.7473,NaN,NaN,...,NaN,283.4999,NaN,NaN,0.77009,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,Sum,NaN,NaN,NaN,901.7473,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
tester.dropna()

Empty DataFrame
Columns: [Area Percent Report, Unnamed: 1, Unnamed: 2, Unnamed: 3, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20]
Index: []

[0 rows x 21 columns]

In [3]:
#main reader method: xls reader
#may need input as xls file
def xls_reader():
    print("None")